---
const { className } = Astro.props;
---

<div class={`bg-white rounded-xl border border-gray-100 shadow-sm overflow-hidden hover:shadow-md transition-shadow duration-300 ${className}`}>
  <slot />
</div>
